@font-face {
  font-family: 'Raleway' ;
  src: url('./fonts/Raleway-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
}

.main_content, .footer_content {
  width: 992px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 110px;
  height: 50px;
  margin-top: 20px;
}

.fas.fa-info {
  color: #0065FC;
  font-weight: bold;
  border: 1px solid ;
  border-color: #F2F2F2;
  border-radius: 30px;
  padding: 2px 10px 2px 10px;
  margin-right: 10px;
}

.active_page a {
  color: #0065FC;
}

.info h1 {
  font-size: large;
  
} 
.info p {
  margin-top: -10px;
}

.searchbox {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.fa-location-dot {
 background-color: #F2F2F2;
 padding: 10px;
 padding-left: 15px;
 border-radius: 15px 0px 0px 15px;

}

.searchbox__btn {
  background-color: #0065FC;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px; 
  padding-left: 10px;
  border-radius: 0px 15px 15px 0px;
  
}

.searchbox__input {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 0;
  padding-top: 0;
  
}

.navigation ul {
  list-style-type: none;
  display: flex;

}

.filtres ul li i {
  height: 46px;
  width: 46px;
  text-align: center;
  background-color: #DEEBFF;
  padding: 15px;
  border-radius: 25px;
  margin-right: 10px;
}



.filtres {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.navigation ul li { /*du plus grand au plus petit*/
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.filtres ul {
  list-style-type: none;

  
}

.filtres ul li {
  display: inline;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 15px; 
  border:solid;
  border-color: #F2F2F2;
  border-radius: 20px;
  padding: 10px;
  border-left: 0;
  padding-left: 0;
  cursor: pointer;
}
.filtres ul li:hover {
  box-shadow: 0 0 50px #F2F2F2;
}

.filtres .fa-solid { 
  color :#0065FC;
}
/*.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}


h1 {
  font-weight: blod;
  font-size: 25px;
}

.logo {
  margin-left: 45px;
}

ul {

  list-style-type: none;
  display: flex; 
justify-content: flex-end;
  


}*/

/*

nav ul {
  margin-top: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.active_page {
  border-top: 3px solid #0065FC;
}

.blocprincipal {
  margin-top: 100px;
  background-color: rgb(111, 109, 214);
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.blocprincipal section {
  background-color: rgb(239, 241, 238);
  border-radius: 30px;
  width: 70%;
}

.hebergements {


   display: flex;
   flex-direction: row; 
   flex-wrap: wrap;
   justify-content: center;
   row-gap: 50px;
   column-gap: 20px;
   /*flex: 4;
} */
/*



/*.bloc { petits blocs hébergements*/
   /* width: 100vw; 
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.bloc:hover {
  box-shadow: 0 0 40px grey;
}

.img_hebergement {
  height: 100px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.img_populaire {
  height: 100%;
  width: 100px; 
}

.bloc_populaire {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  margin-top: 20px;
}
.bloc_populaire:hover {
  box-shadow: 0 0 40px grey;
}

.bloc_populaire .texte {
  font-size: 10px;
  padding-right: 10px;
}

.texte span .fa-solid.fa-star, .bloc span .fa-solid.fa-star {
  color: #F2F2F2;
}

.texte .fa-solid.fa-star, .bloc .fa-solid.fa-star {
  color: #0065FC;
}
*/

/*3EME PARTIE*/

#pageactivites {
  margin-top: 200px;
  border-radius: 30px;
  height: 560px;
}

.activities_blocparent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.activities_blocenfant {
  width: 25%;
  padding-left: 10px;

}

.imagelarge {
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 0 0;
  display: block;
  object-fit: cover;
}

.imagemedium { 
  object-fit: cover;
  height: 200px;  
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: block;

}

.imagesmall {
  height: 100px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: block;
  object-fit: cover;
}

figure {
  margin: 0;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 10px #F2F2F2;
  cursor: pointer;
  
}

figure:hover {
  box-shadow: 0 0 40px grey
}

figcaption {

  background: white;
  border-radius: 0 0 20px 20px;
  text-align: end;
  padding-bottom: 30px;
  
}

figcaption h4{
  display: flex;
  padding-left: 10px;
  font-size: smaller;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

/*FOOTER*/

footer {
  background-color: #F2F2F2;
  margin-top: 50px;
}

.footer_element ul {
  list-style-type: none;
  padding: 0;
  
}

.footer_content {
  display: flex;
  justify-content: space-between;
}

.footer_element {
  width: 33%;
}

.footer_element li {
  padding: 5px;
}

.footer_element h4{
  padding-top: 15px;
  padding-left: 3px;
}


/*@media screen and { min-width: ;
    
}*/


/*NOUVELLE PARTIE CENTRALE*/

