@font-face {
    font-family: 'Raleway' ;
    src: url('./fonts/Raleway-VariableFont_wght.ttf');
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway';
  }

  h3, p {
    margin: 0;
  }
  
  .main_content, .footer_content {
    width: 992px;
    margin: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    width: 110px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
  }

  .active_page {
    border-top: 3px solid #0065FC;
  }
  
  .fas.fa-info {
    color: #0065FC;
    font-weight: bold;
    border: 1px solid ;
    border-color: #F2F2F2;
    border-radius: 30px;
    padding: 2px 10px 2px 10px;
    margin-right: 10px;
  }
  
  .active_page a {
    color: #0065FC;
  }
  
  .info h1 {
    font-size: large;
    
  } 
  .info p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: smaller;
  }
  
  .searchbox {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }

  .mobilefirst_search {
    display: none;
  }
  
  .fa-location-dot {
   background-color: #F2F2F2;
   padding: 10px;
   padding-left: 15px;
   border-radius: 15px 0px 0px 15px;
  
  }

  .fa-solid.fa-location-dot {
    height: 39px;
  }
  
  .searchbox__btn {
    background-color: #0065FC;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px; 
    padding-left: 10px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
  }
  
  .searchbox__input {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 0;
    padding-top: 0;
    margin-right: 0;
    width: 165px;
  }

  input#champ_adresse.searchbox__input{
    padding-left: 12px;
    font-size: small;
    font-weight: bold;
  }
  
  .navigation ul {
    list-style-type: none;
    display: flex;
  
  }

  nav ul {
    margin-top: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
  }

  .filtres ul li i {
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #DEEBFF;
    padding: 12px;
    border-radius: 25px;
    margin-right: 10px;
  }
  
  
  
  .filtres {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  
  }

  .filtres p {
    font-size: smaller;
  }
  
  .navigation ul li { /*du plus grand au plus petit*/
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
  }
  
  .filtres ul {
    list-style-type: none;
    padding-left: 0; 
  }
  
  .filtres ul li {
    display: inline;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 15px; 
    border:solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
    border-left: 0;
    padding-left: 0;
    cursor: pointer;
    font-size: small;
  }

  .filtres ul li.list1{
    margin-right: -6px;
  }

  .filtres ul li.list2{
    margin-right: -6px;
  }

  .filtres ul li.list3{
    margin-right: -6px;
  }


  .filtres ul li:hover {
    box-shadow: 0 0 50px lightgray;
  }
  
  .filtres .fa-solid { 
    color :#0065FC;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
  }

  .infologement {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .infologement p {
    font-size: smaller;
  }


  /*BLOCS*/

  section {
    background-color: none;
    border-radius: 20px;

}

.blocparent {
    display: flex;
    align-items: flex-start;
    /*width: 900px;
    height: 600px;*/
}

.titre_bloc1 {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 70%;
    height: 597px;
}

.blocenfant {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ffffff;
    margin: 15px;
    border-radius: 20px;

    cursor: pointer;
    padding: 3px 3px 3px 3px;
    width: 176px;
    height: 176px;
}
.blocenfant:hover {
    box-shadow: 0 0 40px lightgrey
}

.blocparent2 {
    display: flex;
flex-wrap: wrap;
align-content: center;
}

.blocimage {

object-fit: cover;
border-radius: 15px 15px 0 0;
height: 96px;
width: 200px;

}

.blocinfos {
    padding-left: 10px;
}



.blocinfos h3{
  padding-bottom: 4px;
}

.blocinfos p{
  padding-bottom: 5px;
}

.blocinfos_populaire {
  width: 176px;
  height: 110px;
}

.blocinfos_populaire:hover {
  color: #0065FC;
}

.blocinfos_populaire h3 {
  font-size: small;
}

.blocinfos_populaire p {
  font-size: x-small;
}


.moreinfo {
    margin-left: 20px;
    font-weight: bold;
}

.moreinfo p {
  padding-top: 20px;
  cursor: pointer;
}

.blocenfant h3 {
    font-size: small;
}

.blocenfant:hover {
  color: #0065FC;
} 

.blocenfant p {
    font-size: x-small;
}

section .fa-solid.fa-star {
    color: #0065FC;
    font-size: xx-small;
}

section .fa-solid.fa-star.main {
    color: black;
    font-size: large;
}

section .fa-solid.fa-star.unselected {
    color: #f2f2f2;
    font-size: xx-small;
}

  /*BLOC POPULAIRE*/

.blocmajeur {
    display: flex;
    justify-content: flex-start;

}

.blocmajeur span {
  font-weight: bold;
}


.blocparent_populaire {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;
    margin-left: 30px;
}

.blocparent_populaire2 {
    display: flex;
    background-color: #ffffff;
    height: 120px;
    width: 70%;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}


aside {
    display: flex;
    width: 37%;
}

.blocimage_populaire {
object-fit: cover;
border-radius: 15px 0px 0 15px;
height: 110px;
width: 94px;
}

.titre_bloc2 {
    background-color: #f2f2f2;
    padding-right: 25px;
    border-radius: 20px;
    margin-left: 25px;
    width: 96%;
}

.blocparent_populaire2.bloc2 {
    margin-bottom: 40px;
}
.blocparent_populaire2:hover {
    box-shadow: 0 0 40px lightgrey;
}

.blocparent_populaire2.bloc1 {
    margin-top: 21px;
    margin-bottom: 40px;
}

.stars {
margin-top: 40px;
}

i.fa-solid.fa-solid.fa-star.main {
  margin-left: 40px;
}

h2 {
    margin-left: 25px;
    padding-top: 30px;
}

.blocinfos_populaire {
    padding-left: 20px;
    padding-right: 10px;
}

/*3EME PARTIE*/


/*3EME PARTIE*/

#pageactivites {
  margin-top: 30px;
  border-radius: 30px;
  height: 560px;
}

.activities_blocparent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.activities_blocenfant {
  width: 25%;
  padding-left: 26px;

}

.imagelarge {
  width: 100%;
  height: 361px;
  border-radius: 20px 20px 0 0;
  display: block;
  object-fit: cover;
}

.imagemedium { 
  object-fit: cover;
  height: 200px;  
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: block;

}

.imagesmall {
  height: 100px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: block;
  object-fit: cover;
}

figure {
  margin: 0;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 10px #F2F2F2;
  cursor: pointer;
  
}

figure:hover {
  box-shadow: 0 0 40px grey;
}



figcaption {

  background: white;
  border-radius: 0 0 20px 20px;
  text-align: end;
  padding-bottom: 10px;
  
}


figcaption h4{
  display: flex;
  padding-left: 10px;
  font-size: smaller;
  list-style-type: none;
  text-decoration: none;
  color: black;
  margin-top: 9px;
  margin-bottom: 11px;
}

figure, figcaption h4:hover {
  color: #0065FC;
}

 figcaption.gap {
  margin-bottom: 17px;
 }



  /*FOOTER*/

  footer {
    background-color: #F2F2F2;
    margin-top: 50px;
  }
  
  .footer_element ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  .footer_content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer_element {
    width: 33%;
    text-decoration: none;
  }
  
  
  .footer_element li {
    padding: 5px;
    cursor: pointer; 
  }
  
.footer_element li:hover {
  text-decoration: underline;

}

  .footer_element h4{
    padding-top: 15px;
    padding-left: 3px;
  }

      /*RESPONSIVE*/


  @media screen and (max-width: 777px) {
     body {
      background-color: aqua;
     }

     .blocmajeur {
      flex-direction: column-reverse;
      width: 100%;
     }

     .blocparent {
      flex-direction: column;
     }

     .logo {
      display: flex;
      align-items: center; /*ne marche pas */
     }

     .filtres ul li {
      flex-direction: column; /*ne marche pas*/
     }
  }